---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="529 Fund" description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>529 Fund</h1>
            <p> If you've like to make a contribution to Yona's PA 529 College Guaranteed Savings Plan, please use the following information:</p>
			<ol style="line-height: 2;">
				<li>
					Go to <a href="https://Ugift529.com" target="_blank" rel="noopener noreferrer">Ugift529.com</a>
				</li>
				<li>
					Enter the Ugift code: <strong>U2K-H63</strong>
				</li>
				<li>
					Enter your name and the amount of your gift.
				</li>
				<li>
					Make your gift via electronic funds transfer or check.
				</li>
			</ol>
		</main>
	</body>
</html>

