---
import agesData from '../../data/ages.json';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION } from '../consts';

const age = agesData.approximateAge;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="FAQ" description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>FAQ</h1>
			<p>Yona is {age} years old.</p>
            <p>E-mail <a href="mailto:celebratebeckysteve@gmail.com">celebratebeckysteve@gmail.com</a> to get access to our family Google Photo album.</p>
		</main>
	</body>
</html>

