---
import agesData from '../../data/ages.json';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const age = agesData.approximateAge;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>
				Hello, you've reached Steve and Becky's website.
			</p>
			<p>Yona is {age} years old.</p>
			<p>E-mail <a href="mailto:celebratebeckysteve@gmail.com">celebratebeckysteve@gmail.com</a> to get access to our Google Photos album.</p>
			<p>Use this website to see what <a href="/library">books</a> Yona already has in his library or see some <a href="/gift-ideas">gift ideas</a> for him.</p>
		</main>
	</body>
</html>
