---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import LibraryComponent from '../components/Library.astro';
import { SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Baby Book Library" description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Baby Book Library</h1>
			<LibraryComponent />
		</main>
	</body>
</html>

