---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import LibraryComponent from '../components/Library.astro';
import { SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Children's Book Library" description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Children's Book Library</h1>
			<p>Here is a list of books that we already have.</p>
			<LibraryComponent />
		</main>
	</body>
</html>

