---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/library">Book Library</HeaderLink>
			<HeaderLink href="/529">529 Fund</HeaderLink>
			<a href="https://www.amazon.com/registries/gl/guest-view/2G3R6SMC72SV?ref_=cm_sw_r_cp_ud_ggr-subnav-share_5NZCB3PDDG5N9E2K48HP" 
			   target="_blank" 
			   rel="noopener noreferrer"
			   class="header-link">
				Gift Registry
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
